body{
  margin: 0;
}

form{
  display: flex;
  width: 100%;
  position: fixed;
}

.resourceBox{
  border: 1px solid grey;
  width: 30em;
  height: 2.5em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 0.5em;
  font-size: 17px;
  border-radius: 3px;
}

.resourceBox:focus{
  background-color: black;
  color:white;
}

.container{
  overflow-y: auto;
  padding-top: 0.3em;
}

table{
  margin-top: 2.5rem;
}

td{
  border: 1px solid black;
  padding-left: 10px;
}